.mainDiv{
    border: 1px solid blueviolet;
    width: 600px;
    height: 80px;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;


}

.container{
    display: grid;
    flex-wrap: wrap;
}


.container > * {
    display: flex;
    justify-content: center;
    align-items: center;
}


div[class^="Line"] div[class^="Row"] {
    border: 1px solid rgb(32, 77, 163);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: blanchedalmond;
}


